.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* LINIKTREE SITE */
body {
  background-image: url('../src/assets/img/bpcb.jpg');
  background-size: cover;
  background-position: center;
}

/* Media query for dark mode */
@media (orientation: landscape) {
  body {
    background-image: url('../src/assets/img/bpcbHorizontal.jpg');
    background-size: cover;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101415;
    /* Pink background color when dark mode is enabled */
  }
}

.linktree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Horizontally center its children */

}

.myImage {
  width: 200px;
  /* Set the desired width of the image */
  height: 200px;
  /* Set the desired height of the image */
  border-radius: 50%;
  /* Set border radius to 50% to create a circle */
  overflow: hidden;
  /* Hide the overflowing parts of the image */
  text-align: center;
  padding-top: 20px;

}

.myImage img {
  width: 100%;
  /* Ensure the image fills the container */
  height: 100%;
  /* Maintain aspect ratio */
  text-align: center;
  padding-top: 20px;
  object-fit: cover;
  /* Maintain aspect ratio and cover the container */


}

.IGat {
  color: #ffffff !important;
  text-shadow: 0 0 10px #FF0196, 0 0 20px #FF0196, 0 0 30px #FF0196;
  /* Adjust the values and colors as needed */
  text-align: center;
  font-size: 36px;
}

.myRoles {
  color: #FF0196 !important;
  text-shadow: 0 0 10px #FF0196, 0 0 20px #FF0196, 0 0 30px #FF0196;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}


.buttonStyle {
  display: inline-block;
  padding: 15px 20px;
  background: radial-gradient(circle at center, #FF0196, #98015A);
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  width: 80%;
  /* Set width to 80% of the viewport width */
  margin: 5px auto;
  /* Center the link horizontally and add some space between links */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  /* Set the font size to 16 pixels */


}